/* данный css файл заведует стилями во всех тестах, как в админнских, так и в обычных */

.btnn{
  color: white;
  background-color: #c92fe8;
  margin: 1em 1em;
  border: none;
  font-family: Courier New, monospace;
  cursor: pointer;
  display: inline-block;
  text-decoration: none; /* Убираем подчёркивание */
  left: 100px;

}

header {
  background-color: #232323;
  display: flex; /* add flex display to the header */
  justify-content: space-between; /* align the child elements at the beginning and end of the header */
  align-items: center; /* align the child elements vertically at the center of the header */
}

.logo {
  display: block;
  align-items: center; /* align the child elements vertically at the center */
  /* padding: 1em; */
}

.logo img {
  height: 60px;
  width: auto;
  margin-right: 1em; /* add margin to the right to create space between the logo and text */
}

.header name {
  display: flex;
  align-items: center;
  justify-content: center; /* center the child elements horizontally */
  flex-grow: 1; /* make the text element grow to fill the available space */
}


/* цвет текста теста, в данном случаее всей страницы */
#expert-panel{
  color: #e3e3e3;
}
/* поле ввода of profession в экспертной панели */
.prof{
  width: 50%;/*ширина поля*/
}

.bebra{
  width: 25%;
}

.span{
  color: #e3e3e3;
}

.checkbox{
  margin-bottom: 3em;
}

body {
    font-family: Courier New, monospace;
    background-color: #2f2f2f;
    color: #e3e3e3;
}

.button {
    font-family: Courier New, monospace;
    margin: 1em 1em;
    border: none;
    width: 100%;
    margin-top: 1em;
    display: inline-block; /* Строчно-блочный элемент */
    background-color: #c92fe8; /* корпоративный цвет фона (фиолетовый)*/
    color: #fff; /* Белый цвет текста */
    /* padding: 1rem 1.5rem; /* Поля вокруг текста */ */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin: 8px 0;
    cursor: pointer;

}
