/* вся страница */
body {
    font-family: Courier New, monospace;
    background-color: #2f2f2f;
    color: white;
}


/* шапка сайта */
/* header{
    font-size: 20px;
} */
/* лого сайта */
/* .logo{
    background-color: #232323;
} */
/* лого сайта(снова) */
/* .logo img{
    vertical-align: middle;
}  */


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #232323;
  }

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo img {
    height: 60px;
    width: auto;
    background-color: #232323; /* your desired color */
}

a{
  font-family: Courier New, monospace;
  background-color: #c92fe8;
  color: white;
  padding: 14px 20px;
  margin: 1em;
  border: none;
  cursor: pointer;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* кнопка для перехода в экспертную панель */
.expertbtn{
    margin: 1em;
    display: inline-block; /* Строчно-блочный элемент */
    background-color: #c92fe8; /* корпоративный цвет фона (фиолетовый)*/
    color: white; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    /* #c92fe8 */
}
