body {
    font-family: Courier New, monospace;
    background-color: #2f2f2f;
}

header{
    font-size: 20px;
}

.logo{
    background-color: #232323;
}

.logo img{
    vertical-align: middle;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.expertbtn{
    margin-top: 1em;
    display: inline-block; /* Строчно-блочный элемент */
    background-color: #c92fe8; /* корпоративный цвет фона (фиолетовый)*/
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
